.notice-modal-content{
  min-height: 200rpx;
}
.notice-modal-footer{
  border-top: 1rpx solid #999; 
  text-align:center; 
  padding:10rpx;
  margin-top: 20rpx;
}
.enable{
  color: #22BCA2;
}
.disable{
  pointer-events: none;
  color: #999;
}