.reports-list{
  &-header{
    height: 300rpx;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
  }
  &-content{
    padding: 40rpx;
    margin-top: 300rpx;
  }
  &-item{
    font-size: 30rpx;
    color: #333;
    &-name{
      width: 140rpx;
      word-break: keep-all;
    }
    &-text{
      font-size: 26rpx;
      color: #aaa;
      margin-left: 16rpx;
    }
  }
}