.health-cards {
  height: 250rpx;
  
  .swiper{
    height: 270rpx !important;
  }
  .swiper-item {
    height: 140rpx;
    background-image: url("https://bkyz-applets-1252354869.cos.ap-guangzhou.myqcloud.com/applets-imgs/card_back.png");
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 32rpx;
    color: white;
    display: flex;
    padding: 20rpx;
    justify-content: space-between;
    position: relative;
    &-name {
      font-size: 32rpx;
      font-weight: 500;
    }
    &-icon {
      width: 48rpx;
      height: 48rpx;
      // margin-top: 20rpx;
      position: absolute;
      top: 60rpx;
      right: 20rpx
    }
    &-card{
      font-size: 30rpx;
      margin-top: 10rpx;
    }
  }
  .swiper-item-wrap {
    width: 570rpx !important;
    padding-top:20rpx;
    padding-left: 20rpx;
  }
  .swiper-item-wrap-ali {
    padding: 20rpx;
  }
}
.card-tag{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 13rpx 0 0 13rpx;
  background: gold;
  color: white;
  font-size: 26rpx;
  padding: 5rpx;
}
.single-card{
  &-content{
    display: flex;
    // justify-content: space-between;
    padding: 40rpx;
    width: 100%;
    // align-items: center;
    position: relative;
  }
  &-txt {
    margin-top: 10rpx;
    color: white;
    font-size: 30rpx;
  }
  &-icon{
    width: 48rpx;
    height: 48rpx;
  }
  &-name{
    color: white;
    font-weight: 500;
    font-size: 32rpx;
  }
  &-switch{
    background-color: #B7E5FF;
    border-radius: 32rpx;
    font-size: 24rpx;
    color: #0A3A6E;
    line-height: 64rpx;
    font-weight: 300;
    height: 64rpx;
    padding-left: 20rpx;
    position: absolute;
    right: 20rpx;
    top: 60rpx
  }
}
.add-card{
  background-image: url("https://bkyz-applets-1252354869.cos.ap-guangzhou.myqcloud.com/applets-imgs/card_back.png");
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 20rpx;
  display: flex;
  // align-items: center;
  height: 192rpx;
  width: 100%;
  &-avatar {
    margin-left: 40rpx;
    margin-right: 20rpx;
    width: 56rpx;
    height: 56rpx;
  }
  &-name{
    color: white;
  }
  &-txt{
    margin-left: 20rpx;
    color: white;
    font-size: 30rpx;
  }

}
