.health-cards {
  height: 250rpx;
  .swiper-single{
    height: 220rpx;
    padding:20rpx;
  }
  .swiper-complex{
    height: 270rpx;
  }
  .swiper-item {
    height: 100%;
    background-image: url("https://bkyz-applets-1252354869.cos.ap-guangzhou.myqcloud.com/applets-imgs/card_back.png");
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 32rpx;
    color: white;
    display: flex;
    padding: 40rpx;
    justify-content: space-between;
   &-icon {
     width: 48rpx;
     height: 48rpx;
   }
  }
  .swiper-item-wrap {
    width: 550rpx !important;
    padding:30rpx;
  }
  
}
.login-card{
  height: 100%;
  background-image: url("https://bkyz-applets-1252354869.cos.ap-guangzhou.myqcloud.com/applets-imgs/card_back.png");
  background-size:contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 220rpx;
  &-avatar {
    margin-left: 40rpx;
    margin-right: 20rpx;
    width: 48rpx;
    height: 48rpx;
  }
  &-txt{
    color: white;
  }
}