@import '../../../style.less';

.clinic-intro{
  &-content{
    padding: 40rpx;
    color: #333;
  }
  &-doctors{
    &-avatar{
      width: 168rpx;
      height: 186rpx;
      flex-shrink: 0;
    }
    &-name{
      font-size: 34rpx;
      color: @primary-color;
    }
    &-info{
      margin-bottom: 20rpx;
    }
    &-specialty,
    &-title{
      font-size: 30rpx;
      font-weight: light;
    }
    .ellipsis-text {
      margin-top: 10rpx;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 490rppx;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      display: -moz-box;
      -moz-line-clamp: 4;
      -moz-box-orient:vertical;
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
    }
  }
}