.payment-order-list{
  &-header{
    height: 300rpx;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
  }
  .order-list-item{
    display: flex;
    margin-bottom: 20rpx;
    word-break: keep-all;
    &-text{
      color: #999;
      margin-left: 40rpx;
      overflow-x: scroll;
    }
  }
}