.reports-detail{
  // padding: 40rpx; 
  &-image{
    width: 100%;

  }
  &-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 60rpx;
  }
  .card-item{
    margin-top: 20rpx;
  }
  .table{
    &-header-item{
      word-break: keep-all;
      background-color: bisque;
      line-height: 100rpx;
      border: 1rpx solid #ccc;
      height: 100rpx;
      text-align: center;
      font-size: 26rpx;
      font-weight: bold;
    }
    &-body-item{
      // line-height: 100rpx;
      font-size: 26rpx;
      border: 1rpx solid #ccc;
      // height: 100rpx;
      text-align: center;
      // overflow-y: hidden;
      padding: 10rpx 0;
    }
    &-body-scroll{
      font-size: 26rpx;
      // line-height: 30rpx;
      overflow-x: scroll;
    }
  }
  .at-col{
    white-space: unset;
  }
}