.reports-detail{
  padding: 40rpx; 
  &-image{
    width: 100%;

  }
  &-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 60rpx;
  }
}