@import '../../color.less';
.bk-vertical-tab{
  display: flex;
  flex-direction: column;
  .tab-item{
    padding: 10rpx;
    color: #333;
    font-size: 40rpx;
    background-color: #F5F5F5;
    text-align: center;
  }
  .tab-item-active{
    background-color: white;
    border-left: 1rpx solie @primary-color;
  }
}