@import './style.less';

.point{
  width: 0.08rem;
  height: 0.08rem;
  border: 0.01rem solid #333;
  position: absolute;
  top: 0.1rem;
  left: -0.2rem;
  background: #333;
  border-radius: 50%;
  z-index: 1;
}
.green-energy{
  align-items: center;
  background-color: #333;
  padding: 20rpx;
  border-radius: 10rpx;
  color: white;
  position: absolute;
  top: 50%;
  width: 440rpx;
  z-index: 10001;
  left: calc(50% - 220rpx);
  
  &-icon{
    width: 40rpx;
    height: 40rpx;
  }
  &-value{
    color: green;
    font-weight: bold;
    margin-left: 10rpx;
  }
}
.banner {
  height: 250rpx;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%; 
}

.primary-bg{
  background-color: @primary-color;
}
.info-bg{
  background-color: @info-color;
}
.danger-bg{
  background-color: @danger-color;
}
.avatar{
  width: 96rpx;
  height: 96rpx;
  border-radius: 50%;
  background-image: url('https://bkyz-applets-1252354869.cos.ap-guangzhou.myqcloud.com/common/default-avatar.png');
  background-size: contain;
}
.price-color{
  color: @danger-color !important;
}
.primary-text-color{
  color: @primary-color
}
.text-color{
  color: #333;
}
.sub-text-color{
  color: #aaa;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-baseline{
  display: flex;
  align-items: baseline;
}
.panel-item{
  font-size: 30rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rpx 0;
}
.bk-input{
  padding: 24rpx 24rpx 24rpx 32rpx;
  color: #333;
  background-color: #FFF;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1rpx solid rgb(214, 228, 239)
}
.box-shadow-radius{
  border-radius: 16rpx;
  box-shadow: 0px 4rpx 12rpx 0px rgba(0,0,0,0.10); 
  padding: 40rpx;
}
.tag {
  font-size: 30rpx;
  padding: 0 10rpx;
}
.tag-primary{
  display: inline-block;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  font-size: 30rpx;
  padding: 0 10rpx;
  background-color: @primary-color;
}
.flat-title{
  text-align: justify;
  text-align-last: justify;
  width: 155rpx;
  color: #333;
  font-size: 30rpx;
  word-break: keep-all;
}
.flex{
  display: flex;
  align-items: center;
}
.flex-justify-center{
  display: flex;
  justify-content: center;
}
.flex-around{
  display: flex;
  justify-content: space-around;
}
.dashed-devider{
  margin: 10rpx 0;
  width: 100%;
  height: 4rpx;
  border-bottom: 2rpx dashed #f5f5f5;
}
.clickable{
  color: @primary-color !important;
}