@import './color.less';

.banner {
  height: 250rpx;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%; 
}

.primary-bg{
  background-color: @primary-color;
}
.info-bg{
  background-color: @info-color;
}
.danger-bg{
  background-color: @danger-color;
}
.avatar{
  width: 96rpx;
  height: 96rpx;
  border-radius: 50%;
  background-image: url('./images/default_doctor.png');
  background-size: contain;
}
.price-color{
  color: @danger-color;
}
.text-color{
  color: #333;
}